<button type="button" {{action 'nextPage'}}>下一页</button>
<table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
          {{#each list as |item index|}}
          {{!debugger}}
        <tr>
          <td>{{index}}</td>
          <td>{{item.id}}</td>
          <td>{{item.timestamp}}</td>
          <td>{{item.title}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
